.body-here{

    overflow-x: scroll;

   
 
}

.card{
  display: flex;
}
.card-image{
    transition: 450ms;
     padding: 10px;
    
}
.card-image:hover{
    transform: scale(1.08);
   
}


.card-title:hover{
color: red;
cursor: pointer;

}


.title{
    font-size: 15px;
    max-width: 350px;
   
}

/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: transparent; /* Background color of the thumb */
    border-radius: 5px; /* Rounded corners */
}


.down{
    background-color: red;


    margin-top: 5rem;
    color: white;
}